<div class="container" *ngIf="user">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{user.firstName}} {{user.lastName}}
        <small>{{user.profile.title || 'fill me in'}}</small>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <button class="btn btn-lg btn-outline-primary" (click)="open(lg)">add avatar</button>
      <img class="img-responsive" [src]="getAvatar()" alt="">
    </div>
    <div class="col-md-4">
      <h3>About {{user.firstName}}</h3>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.
      PROFILE FILL</p>
      <h3>Skills</h3>
      <ul>
        <li>List Skills here as tags</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">{{user.firstName}}'s Games</h3>
    </div>
    <div class="col-sm-3 col-xs-6">
      <a (click)="useJwtHelper()">
        <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
        <!-- portfolio.works.image ngrepeat -->
      </a>
    </div>
  </div>
  <hr>
  <h3>Link your social accounts!</h3>
<!--
  <a (click)="linkSteam">Steam</a>
  <a (click)="linkGithub">Github</a>
  <a (click)="linkLinkedIn">LinkedIn</a>
  <a (click)="linkGoogle">Google</a>
  <a (click)="linkTwitter">Twitter</a> -->
<div class="facebook-profile-edit">
<a class="btn btn-sm btn-outline-primary" href="/facebook/{{user._id}}">{{user.facebook}}Link Facebook</a>
</div>

<div>
  <a class="btn btn-sm btn-outline-primary" href="/github/{{user._id}}" *ngIf="!user.github">Link Github</a><h5 *ngIf="user.github">Github </h5><a *ngIf="user.github">{{user.github.url}}</a><p>followers: {{user.github.followers}}</p><p>repo #:{{user.github.repoNum}}</p>
</div>
<br>
<button class="btn btn-sm btn-outline-primary" (click)="linkLinkedin()">Link LinkedIn</button>
