<div class="container" *ngIf="user">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{user.firstName}}
        {{user.lastName}}
        <small>{{user.profile.title || 'Working title'}}</small>
      </h1>
    </div>
    <form [formGroup]="titleForm" (ngSubmit)="submitTitle()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" placeholder="working title here" formControlName="title">
        <button class="btn btn-primary" type="submit" [disabled]="!titleForm.valid">Submit</button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-lg btn-outline-primary" (click)="openAvatar(lg)">add avatar</button>
      <button class="btn btn-lg btn-outline-primary" (click)="updateAvatar()">update avatar</button>
      <img class="img-thumbnail" [src]="getAvatar()" alt="">
    </div>
    <div class="col-md-8">
      <h3>About
        {{user.firstName}}</h3>
      <p>{{user.profile.summary || "Tell a bit about yourself"}}</p>
      <form [formGroup]="aboutForm" (ngSubmit)="submitAbout()">
        <div class="form-group">
          <label for="about">About</label>
          <input type="text" id="about" class="form-control" placeholder="about you here" formControlName="about">
          <button class="btn btn-primary" type="submit" [disabled]="!aboutForm.valid">Submit</button>
        </div>
      </form>
      <h3>Skills</h3>
      <form [formGroup]="skillsForm" (ngSubmit)="submitSkill()">
        <div class="form-group">
          <label for="skills">Add Skill</label>
          <input type="text" id="skills" class="form-control" placeholder="add new skill here" formControlName="skills">
          <button class="btn btn-primary" type="submit" [disabled]="!skillsForm.valid">Submit</button>
        </div>
      </form>
      <div class="skill-list container" *ngIf="hasSkill().length > 0">
        <div class="col-xs-6" *ngFor="let skill of this.user.profile.skills">
          <h3>
            <span class="tag tag-pill tag-info">
              {{skill}}
            </span>
            <button type="button" (click)="deleteSkill(skill)">
              <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
            </button>
          </h3>
        </div>
      </div>
      <ul *ngIf="hasSkill().length < 1">
        <li>add your skills!
          {{user.profile.skills}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">{{user.firstName}}'s Games</h3>
    </div>
    <p>
      Show your works!
      <button class="btn btn-sm btn-outline-primary" (click)="showWorkForm()">Add a new work</button>
    </p>
    <div [hidden]="showWork">
      <header class="row spacing">
        <nav class="col-md-8 col-md-offset-2">
          <ul class="nav nav-tabs">
            <li routerLinkActive="active">
              <a [routerLink]="['profile']">Details</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['work-avatar']">Picture Upload</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['work-file']">Upload Work</a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="row spacing">
        <router-outlet></router-outlet>
      </div>
      <form [formGroup]="worksForm" (ngSubmit)="submitWork()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" placeholder="work title here" formControlName="title">
          <label for="description">Description</label>
          <textarea rows="4" id="description" class="form-control" placeholder="work description here" formControlName="description"></textarea>
          <label for="url">Link</label>
          <input type="text" id="url" class="form-control" placeholder="work url here" formControlName="url">
          <label for="video">Youtube Link</label>
          <input type="text" id="video" class="form-control" placeholder="work video here" formControlName="video">
          <button class="btn btn-lg btn-outline-primary" type="submit" [disabled]="!worksForm.valid">Submit</button>
        </div>
      </form>
    </div>
    <div *ngIf="hasWorks().length < 1">
      <h5>{{user.firstName}}'s Works!</h5>
      <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="has-works" *ngIf="hasWorks().length > 0">
      <div class="works col-sm-6 col-xs-12 text-center" *ngFor="let work of hasWorks()">
        <div class="row hover-btn">
          <button type="button" class="close" (click)="deleteWork(work._id)">
            <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
            <span class="sr-only">Close</span>
          </button>
        </div>
        <a href="//{{work.url}}">Title:
          {{work.title}}</a>
        <p>Description:
          {{work.description}}</p>
        <a href="//{{work.video}}">Check out the video!</a>
        <img class="img-responsive portfolio-item" src="{{work.avatar}}" alt="" *ngIf="hasWorks().length > 1">
      </div>
    </div>
  </div>
  <hr>
  <h3>Link your social accounts!</h3>
  <!--
  <a (click)="linkSteam">Steam</a>
  <a (click)="linkGithub">Github</a>
  <a (click)="linkLinkedIn">LinkedIn</a>
  <a (click)="linkGoogle">Google</a>
  <a (click)="linkTwitter">Twitter</a> -->
  <div>
    <a class="btn btn-sm btn-outline-primary" href="/github/{{user._id}}" *ngIf="!user.github">Link Github</a>
  </div>
  <div class="facebook-profile-edit">
    <a class="btn btn-sm btn-outline-primary" href="/facebook/{{user._id}}" *ngIf="!user.facebook">Link Facebook</a>
  </div>
  <div class="linkedin-profile-edit">
    <a class="btn btn-sm btn-outline-primary" href="/linkedin/{{user._id}}" *ngIf="!user.linkedin">Link LinkedIn</a>
  </div>
  <div class="user-github" *ngIf="user.github">
    <h5>Github Info:
    </h5>
    <div *ngIf="user.github">
      <span>
        <p>
          <a href="{{user.github.url}}">{{user.firstName}}'s github profile</a>
          {{user.github.followers}}
          github followers,
          {{user.github.repoNum}}
          repos</p>
      </span>
    </div>
  </div>
  <div class="user-facebook" *ngIf="user.facebook">
    <h5>Facebook Info:
    </h5>
    <div *ngIf="user.facebook">
      <span>
        <p>
          <a href="{{user.facebook.url}}">{{user.firstName}}'s facebook profile</a>
        </p>
      </span>
    </div>
  </div>
  <div class="user-linkedin" *ngIf="user.linkedin">
    <h5>LinedIn Info:
    </h5>
    <div *ngIf="user.linkedin">
      <span>
        <p>
          <a href="{{user.linkedin.url}}">{{user.firstName}}'s linkedin profile</a>
        </p>
      </span>
    </div>
  </div>
