<form [formGroup]="searchGameForm" (ngSubmit)="seachGame()">
<div class="form-group">
      <label for="title">Search:</label>
      <input
              type="text"
              id="game"
              class="form-control"
              placeholder="search for a game"
              formControlName="game">
  <button
          class="btn btn-lg btn-outline-primary"
          type="submit"
          [disabled]="!searchGameForm.valid">Submit</button>
        </div>
</form>

<div class="noGames" *ngIf="noGames">
  <h1>No games with that name found. Please try again.</h1>
</div>

<div class="card-columns">
  <div class="card" *ngFor="let game of games">
    <div class="card-block">
    <img class="card-img-top img-fluid" src="{{game.cover.url}}" alt="Card image cap" *ngIf="game.cover">
      <h4 class="card-title">{{game.name}}</h4>
      <p class="card-text" *ngIf="game.release_dates && game.release_dates[0].human">released: {{game.release_dates[0].human}}</p>
      <p class="card-text" *ngIf="game.aggregated_rating">rating: {{game.aggregated_rating | number:'1.1-2'}}</p>
      <a class="card-link" *ngIf="game.url" href="{{game.url}}" >Link to Igdb</a>
    </div>
  </div>
</div>
